body {
    /* Set line height to 1.5 times the font size
         and use the OS’s UI font as the website font
       */
    font: 100%/1.5 system-ui;
    max-width: 100ch;
    margin-inline: auto;
    padding: 2ch;

}

nav ul,
nav li {
    display: contents;
}

nav {
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
}

nav a {
    flex: 1;
    text-align: center; 
    text-decoration: none; 
    padding: 8px 16px; 
    color: #0e0d0d; 
}

nav a.current {
    font-weight: bold; 
    color: #3221a2;
    border-bottom: 2px solid #000; 
}
