:root {
    --color-accent: oklch(65% 50% 0);
    accent-color: var(--color-accent);
}



html {
    color-scheme: light dark;
    border-bottom-color: oklch(50% 10% 200 / 40%);
}

.color-scheme {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 0.8rem;
    font-family: inherit; 
    background-color: rgba(0, 0, 0, 0.2);
    padding: 0.5rem;        
    border-radius: 5px;      
}

.color-scheme select {
    font-size: inherit;
    font-family: inherit;
    padding: 0.3rem;
}

html[color-scheme='light'] {
    background-color: #fff;
    color: #000;
}

html[color-scheme='light'] nav a {
    color: #060606;
}


html[color-scheme='dark'] {
    background-color: #121212;
    color: #fff;
}

html[color-scheme='dark'] nav a {
    color: #fff;
}

body {
    font: 100%/1.5 system-ui;
    max-width: 100ch;
    margin-inline: auto;
    padding: 2ch;
    text-align: center;
}

ul, ol {
    list-style-position: inside;
    text-align: center;

    margin: 0 auto;
    display: inline-block;
}

ul li, ol li {
    display: list-item; 
    margin: 0; 
}

nav ul,
nav li {
    display: contents;
}

nav {
    --border-color: oklch(50% 10% 200 / 40%);
    border-bottom-color: var(--border-color);
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
}

nav a {
    
    flex: 1;
    text-align: center; 
    text-decoration: none; 
    padding: 8px 16px; 

    border-bottom: 2px solid transparent;
}

nav a.current {
    font-weight: bold; 
    color: var(--color-accent);
    border-bottom: var(--border-color) 2px solid; 
}

nav a:hover {
    background-color: color-mix(in oklch, var(--color-accent), transparent 85%);
    border-bottom-color: var(--color-accent);
}

input,
textarea,
button {
    font: inherit;
    padding: 8px;
    border: 1px solid;
    border-radius: 4px;
}

form {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1em;
    /* align-items: center; */
    margin: 0 auto;
}

form label {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1;
    text-align: right;
}

form input,
form textarea,
form button {
    grid-column: 2;
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin-block: 0.5rm;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    gap: 1em;
    margin: 1em 0;
    text-align: center;
}

.projects article {
    grid-template-rows: subgrid;
    grid-row: span 3;
    gap: 1em;
    padding: 1em;
}

.projects h1 {
    font-size: 400%;
    text-align: center;
}
.projects h2 {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    line-height: 1.1;
    text-wrap: balance;
    margin: 0.5em 0;
}

